<header id="header" class="col banner" role="banner">

    <h1>
        <a id="showLeftPush" onclick="location.href='{{@blog.url}}'">
			<span class="title">{{@blog.title}}</span>
        </a>
    </h1>

</header>