<article>

	<a href="{{url}}" rel="bookmark">

		<h2>{{title}}</h2>

	    <summary>
	        {{excerpt}}... <a href="{{url}}" class="read-more">Read More</a>
	    </summary>

    </a>

</article> <!-- end list article  -->
